*{
    box-sizing: border-box;
}

Header, footer{
    border: 3px solid black;
    clear: both;
    height: 100px;
}

section{
    border: 3px solid black;
    height: 600px;
    width: 20%;
    float: left;
}

.thiccOne{
    width:40%;
}

@media screen and (max-width: 600px) {
 section{ 
     background: green;
 }   
}

@media (min-width:601px) and (max-width: 900px){
    section{
        background: blue;
        width:33.3333%;
    }
    .thiccOne{
        display:none;
    }
}

