.circle-ct{
    /*border:1px solid black;*/
    height:500px;
    width:100vw;
    position: relative;
}

.circle{
    width:400px;
    height:400px;
    border: 1px solid black;
    position: absolute;
    top:200px;
    bottom:200px;
    left: 0;
    right: 0;
    margin:auto;
    border-radius: 50%;
    animation: circle 5s linear;
    background-image: url(images/day.jpeg), url(images/night.jpeg);
    background-repeat: repeat-x, repeat-x;
    background-position-y: top, bottom;
}

.time1{
    position:absolute;
    left:100px;
    top: 100px;
    
    font-size:20px;
}

.time2{
    position:absolute;
    left:100px;
    top:240px;
    color:white;
    font-size:20px;
}

#risepic{
    
    position: absolute;
    left: 150px;

}

#setpic{
   
    position:absolute;
    bottom: 0px;
    left:150px
}

.sunAnimation{
    animation: sunAni 5s linear;
}


@keyframes sunAni{
    0%{
        transform: rotate(0deg)translate(5px)rotate(0deg)

    }
    100%{
        transform: rotate(318deg)translate(5px)rotate(180deg)
    }
}


img{
    height:100px;
    width:100px;
}

.text{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    height:30px
}

.green{
    color:green;
}

.underline{
    text-decoration: underline;
    color:#e75480;
}

.blue{
    color: blue
}
 .orange{
    color:orange;
 }