
.center{
    text-align:center
}

.allSearch{
    float:left; 
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 10px ;
}

.characterSearches{
    margin-top: 20px;
    float:left;
    width:100%;
    border-bottom: 2px solid black;
}

.character1{
    float:left;
    width: 48%;
    border-right: 2px solid black;
    
}

.character2{
    float:left;
    width: 48%;
    
}