

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

.center{
    text-align:center
}

.topsearch{
    float:left;
   /* background-image: url(images/rnm.png) ;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;*/
    margin: 0;
    padding: 0;
    color: black;
}

.allSearch{
    float:left; 
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 10px ;
}

.characterSearches{
    margin-top: 20px;
    float:left;
    width:100%;
    border-bottom: 2px solid black;
}

.character1{
    float:left;
    width: 48%;
    border-right: 2px solid black;
    
}

.character2{
    float:left;
    width: 48%;
    
}

.result-ct{
    float:left;
    width:100%;
    height:100%;
    position:relative;
    /*background-image: url(images/galaxy1.jpg);*/
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
}

.allResults{
    position: relative
}

/*CHARACTER*/

.resultbox{
    float:left;
    width:65%;
    height:250px;
    border:3px solid cyan;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left:20%;
    box-shadow: 10px 6px rgb(2, 176, 2);
    background-color: white;
}

.idNum{
    width:30%;
    position:absolute;
    color:red;
    font-weight: bold;
    font-size: 22px;
    font-family: "Orbitron", sans-serif;
    top: 10px;
    left:370px;
    border-radius:20px;
    border: 1px solid black;
   
    background-image: url(images/ricknmorty.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resultImage{
    width:700px;
}

.resultImage> img{
    border-radius: 15px;
    width:100px;
}

.resultName{
    position:absolute;
    left:380px; 
    top: 40px;  
}

.resultGender{
    position:absolute;
    left:380px;
    top:70px;
}

.resultSpecies{
    position:absolute;
    left:380px;
    top:100px;
}

.resultType{
    position:absolute;
    left:380px;
    top:130px;
}

.resultOrigin{
    position:absolute;
    left:380px;
    top:160px;
}

.resultLocation{
    position:absolute;
    left:380px;
    top:190px;
}

.resultStatus{
    position:absolute;
    left:380px;
    top:220px;
}





.resultbox li{
    list-style-type: none;
}

.resultbox> li> img{
   /* float:left;
    height:250px;
    width:50%;*/
}

.galaxyBack{
    background-image: url(images/galaxy1.jpg);
   
}

.galaxyBackSingle{
    background-image: url(images/galaxy1.jpg);
    background-position:center;
    background-size: cover;
}

/*LOCATION*/

.locationBox{
    float:left;
    width:70%;
    height:250px;
    border:3px solid cyan;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
    margin-top: 5px;
    box-shadow: 8px 6px greenyellow;
    background-color: white;
    margin-bottom: 25px;
    margin-left: 20%;
}

.locationBox > li{
    list-style-type: none;
}

.locationId{
    width:40%;
    position:absolute;
    color:black;
    font-weight: bold;
    top: 10px;
    left:8%;
    border-radius:20px;
    border: 3px solid cyan;
    
    background-image: url(images/ricknmorty.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.locationName{
    position: absolute;
    
    top: 50px;
    width:50%;
}

.locationType{
    position: absolute;
    
    top: 80px;
    width:50%;
}

.locationDimension{
    position: absolute;
    
    top: 110px;
    width:50%;
}

.residentTitle{
   margin-left: 70%;
   margin-top: 2%;
   width:10%;
   border-bottom: 1px solid black;
}

.locationResidents{
    position:absolute;
    left:50%;
    width:40%;
    height:180px;
    overflow:auto;
    margin-top: 50px;
    border: 5px solid cyan;
    list-style-type: none;
    
    background-position: center;
    background-size:  100%;
    background-repeat: no-repeat;
    color:white;
}

.locationResidents::-webkit-scrollbar{
    width: 10px;
}

.locationResidents::-webkit-scrollbar-track{
    background: yellow
}

.locationResidents::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 50px;
}

.locationResident{
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

/*EPISODE*/


.episodeBox{
    float:left;
    width:70%;
    height:250px;
    border:3px solid cyan;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
    margin-top: 5px;
    box-shadow: 8px 6px greenyellow;
    background-color: white;
    margin-bottom: 25px;
    margin-left: 20%;
}

.episodeBox > li{
    list-style-type: none;
}

.episodeId{
    width:40%;
    position:absolute;
    color:black;
    font-weight: bold;
    top: 10px;
    left:8%;
    border-radius:20px;
    border: 3px solid cyan;
    
    background-image: url(images/ricknmorty.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.episodeName{
    position: absolute;
    
    top: 50px;
    width:50%;
}

.episodeEpi{
    position: absolute;
    
    top: 100px;
    width:50%;
}

.episodeDate{
    position: absolute;
    
    top: 150px;
    width:50%;
}

.characterTitle{
   margin-left: 70%;
   margin-top: 2%;
   width:10%;
   border-bottom: 1px solid black;
}

.episodeCharacters{
    position:absolute;
    left:50%;
    width:40%;
    height:180px;
    overflow:auto;
    margin-top: 50px;
    border: 5px solid cyan;
    list-style-type: none;
    
    background-position: center;
    background-size:  100%;
    background-repeat: no-repeat;
    color:white;
}

.episodeCharacters::-webkit-scrollbar{
    width: 10px;
}

.episodeCharacters::-webkit-scrollbar-track{
    background: yellow
}

.episodeCharacters::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 50px;
}

.episodeCharacter{
    font-weight: bold;
    margin-top: 5px;
}


/* Next*/

footer{
    float:left;
    width:100%;
    height:30px;
    margin-bottom: 5px;
}
#next{
    
    float:left;
    margin-left: 50%;

    border: 3px solid cyan;
    border-radius: 10px;
    background-color: rgb(2, 176, 2);
    color:red;
    font-size: 20px;
}

#next:hover{
    background-color: yellow;
    border: 3px solid black;
    color:brown;
}

.specificResultbox{
    float:left;
    width:70%;
    height:250px;
    border:3px solid cyan;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
    margin-top: 5px;
    box-shadow: 8px 6px greenyellow;
    background-color: white;
    margin-bottom: 25px;
    margin-left: 20%;
}

/*media queries ////////////////////////*/

@media screen and (max-width: 320px){
    
    .topsearch{
        float:left;
        width:320px;
    }

    .allSearch{
        float:left;
        width:320px;
    }

    .characterSearches{
        float:left;
        width:320px;
    }

    .character1{
        float:left;
        width:320px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .character2{
        float:left;
        width:320px;
    }

    .character2 >select{
        float:left;
        width:60%;
        margin-left: 50px;
    }

    .character2 >button{
        float:left;
        width:60%;
        margin-left: 50px;
    }

    .resultbox{
        font-size: 10px;
        height:260px;
        margin-left:10%;
    }

    .resultImage{
        
        width:100%;
        height:50%;
        /*border:1px solid black;*/
    }
    

    .resultImage > img{
        float:left;
        width:100%;
        height:120px;
    }

    .idNum{
        width:30%;
        position:absolute;
        margin-left: 5px;
        color:red;
        font-weight: bold;
        font-size: 22px;
        font-family: "Orbitron", sans-serif;
        top: 50px;
        left:-70px;
        border-radius:10px;
        border: 1px solid cyan;
        height: 100px;
        background-image: url(images/ricknmorty.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
    flex-direction: row;
    align-items: center;
    }

    .resultName{
        position:absolute;
        left:8px; 
        top: 125px;  
        
    }
    
    .resultGender{
        position:absolute;
        left:8px;
        top:145px;
    }
    
    .resultSpecies{
        position:absolute;
        left:8px;
        top:165px;
    }
    
    .resultType{
        position:absolute;
        left:8px;
        top:185px;
    }
    
    .resultOrigin{
        position:absolute;
        left:8px;
        top:205px;
    }
    
    .resultLocation{
        position:absolute;
        left:8px;
        top:225px;
    }
    
    .resultStatus{
        position:absolute;
        left:8px;
        top:245px;
    }
    
}

@media (min-width:321px) and (max-width: 425px) {

    .topsearch, .allSearch, .characterSearches{
        float:left;
        width:100%;
        margin:0;
    }

    .character1{
        float:left;
        height:200px;
        margin-top: 0px;
        border-right: 3px solid black;
    }

    .character2 > select{
        float:left;
        border-left: 1px solid black;
    }

    .character2 > button{
        float:left;
        color:green;
        width: 100%;
    }

    .resultbox, .locationBox, .episodeBox{
        float:left;
        width:90%;
        height:250px;
        border:3px solid cyan;
        border-radius: 15px;
        position:relative;
        font-size: 15px;
        margin-bottom: 25px;
        margin-left:0%;
        box-shadow: 10px 6px rgb(2, 176, 2);
        background-color: white;
        
    }

    .resultImage{
        width:400px;
        
        
    }
    
    .resultImage> img{
        border-radius: 15px;
        /*width:0px;*/
        
    }

    .resultName{
        position:absolute;
        left:200px; 
        top: 20px;  
    }
    
    .resultGender{
        position:absolute;
        left:200px;
        top:50px;
    }
    
    .resultSpecies{
        position:absolute;
        left:200px;
        top:80px;
    }
    
    .resultType{
        position:absolute;
        left:200px;
        top:110px;
    }
    
    .resultOrigin{
        font-size: 13px;
        position:absolute;
        left:200px;
        top:140px;
    }
    
    .resultLocation{
        position:absolute;
        left:200px;
        top:170px;
        font-size: 13px;
    }
    
    .resultStatus{
        position:absolute;
        left:200px;
        top:220px;
    }

/**/

.locationName{
    position: absolute;
    
    top: 50px;
    width:50%;
}

.locationType{
    position: absolute;
    
    top: 110px;
    width:50%;
}

.locationDimension{
    position: absolute;
    
    top: 150px;
    width:50%;
}

.residentTitle{
   margin-left: 70%;
   margin-top: 2%;
   width:10%;
   border-bottom: 1px solid black;
}


.locationResidents, .episodeCharacters{
    position:absolute;
    left:50%;
    width:35%;
    height:180px;
    overflow:auto;
    margin-top: 50px;
    border: 5px solid cyan;
    list-style-type: none;
    margin-right: 10px;
    background-position: center;
    background-size:  100% 100vh;
    background-repeat: no-repeat;
    color:white;
}

.locationResidents::-webkit-scrollbar{
    width: 5px;
}

    
}